

<mat-grid-list cols="2"  rowHeight="4:1" class="tarefas">
  <mat-grid-tile>
  <mat-card class="example-card">
    <form class="example-form">
      <span style="padding: 0 14px;">Usuario:</span>
      <mat-form-field class="example-full-width">
        <input type="text" aria-label="Number" matInput [(ngModel)]="selectedUsuario"  [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let usuario of usuarios" [value]="usuario">
            {{usuario.nome}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button (click)="addUsuario(selectedUsuario)" mat-button>Add</button>
      <button (click)="getTarefasByUsuario(selectedUsuario)" mat-button>Procurar</button>
      <button (click)="deleteUsuario(selectedUsuario)" mat-button>Remover</button>
      <button (click)="getTarefasByUsuario(selectedUsuario)" mat-button>Alterar</button>
      <button (click)="getTarefas()" mat-button>All</button>
    </form>
  </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
<form class="example-form">
  <span style="padding: 0 14px;">Tarefa:</span>
  <mat-form-field class="example-full-width">
    <input type="text" aria-label="Number" matInput  #tarefaName [formControl]="myControl" [matAutocomplete]="auto">
  </mat-form-field>

  <button (click)="addTarefa(tarefaName.value, true, selectedUsuario)" mat-button>Add</button>
</form>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>


  <mat-grid-list cols="4"  rowHeight="2:1" class="tarefas">
  <mat-grid-tile *ngFor="let tarefa of tarefas" >
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{tarefa.criador}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{tarefa.descricao}}
          {{tarefa.criacao}}
          {{tarefa.descricao}}
          {{tarefa.concluido}}
          {{tarefa.responsavel.nome}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDIT</button>
        <button mat-button>DELETE</button>
        <button mat-button>COMPLETE</button>
      </mat-card-actions>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
