

<mat-grid-list cols="3"  rowHeight="3:1" class="tarefas">
  <mat-grid-tile>
  <mat-card class="example-card">
    <form class="example-form">
      <span style="padding: 0 14px;">Usuario:</span>
      <mat-form-field class="example-full-width">
        <input type="text" aria-label="Number" matInput [(ngModel)]="selectedUsuario"  [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let usuario of usuarios" [value]="usuario">
            {{usuario.nome}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button (click)="addUsuario(selectedUsuario)" mat-button>Add</button>
      <button (click)="getTarefasByUsuario(selectedUsuario)" mat-button>Procurar</button>
      <button (click)="deleteUsuario(selectedUsuario)" mat-button>Remover</button>
      <button (click)="abrirAlterador()" mat-button>Alterar</button>
    </form>
  </mat-card>
    <mat-card *ngIf="alterarUsuario" class="example-card">
    <input type="text" aria-label="Number" #alterar>
      <button (click)="updateUsuario(selectedUsuario, alterar.value)" mat-button>Alterar</button>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
  <button (click)="getTarefas()" mat-button>Todos</button>
      <button (click)="limpar()" mat-button>Limpar</button>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
<form class="example-form">
  <span style="padding: 0 14px;">Tarefa:</span>
  <mat-form-field class="example-full-width">
    <input type="text" aria-label="Number" matInput #tarefaName >
  </mat-form-field>

  <button (click)="addTarefa(tarefaName.value, false, selectedUsuario)" mat-button>Add</button>
</form>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>


<div class="mat-app-background basic-container">
  <mat-grid-list cols="4"  rowHeight="2:1" class="tarefas" >
  <mat-grid-tile *ngFor="let tarefa of tarefas">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{tarefa.criador}}</mat-card-title>
        <span *ngIf="tarefa.concluido" style="color: red"> Concluido </span>
        <mat-card-subtitle>{{tarefa.criacao}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span>
          {{tarefa.descricao}}
        </span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Editar</button>
        <button (click)="deleteTarefa(tarefa)" mat-button>Remover</button>
        <button (click)="updateConcluirTarefa(tarefa)" mat-button>Completar</button>
      </mat-card-actions>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
